# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
*.db
*.sqlite3
*.log
*.zip

# VSCode
.vscode/

# Ignore files inside dst, but keep the folder
/live/dst/*
!/live/dst/.gitkeep

/demo/dst/*
!/demo/dst/.gitkeep
demo/dst/*.html
demo/dst/plots/
live/dst/*.html
live/dst/plots/
DQA-vX.x/*